h1{

    font-family: Arial;
    color: orange;



}
body{
    background-color: lightblue;
}

li{

    font-family: Arial;
    font-size: 20px;

}

#fei{
    color:pink;
    font-size:50px;
}
#mark{

 color: rgb(136, 232, 19);

}

#atlas{
    color: rgb(128, 128, 128);
}

#franklin{
    color: rgb(129,32,67);
}
#laochen{
    color:red;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#Jebonnesa {
    color: #9685d9; 
    font-family: Arial;
    font-size: 25px;

}

#isabelle{
    color:lightseagreen;
}
  

#kong{
    color: lightgoldenrodyellow;
}
#dhruv{
    color: white;
}

#max{
    color:aqua;
}

#Jade{
    color:aliceblue;
}
#kate{
    color: aquamarine;
}
#Chen {
    color: papayawhip;
}

#cindy{
    color: purple;
}
#6125{
    color: beige;
}

#1221{
    color: #ffbcd9;
}

#lz{
    color:rgb(231, 123, 123);
}
#W {
    color : green;
}
#lyg {
    color: #5f05f0
    ;
}
#VC {
    color: gold;
}

#4352 {
    color: blue;
}
#lucy {
    color: plum;
}

#bigboss{
    color: green;
}

#ly{
    color: rgb(250, 227, 237);

}

#Lavinia {
    color: pink;
}

#Sophie{

 color: magenta;

}

#lein{
    color: brown
}
